
/db.sqlite3

.idea
**/__pycache__
__pycache__
*.pyc
/store/__pycache__
/store/__pycache__/
/base/__pycache__
/base/__pycache__/
/base/migrations/__pycache__/
/gpt/secret.py
/basegpt/prompts.py
/gpt/settings.py
/media/

.env
